html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-family;
    font-size: 14px;
    line-height: 20px;
    color: #33383c;
    background: #fff;
}

#app {
    position: relative;
    padding-top: 60px;
    display: flex;
    min-height: 100vh;
}
