// Fonts
$font-family: 'Source Sans Pro', sans-serif;

$font-weight-regular: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

// Colors
$color-blue-primary: #06f;
$color-grey-light: #abacad;
$color-grey-medium: #656565;
